/*

FONTS:

'Josefin Sans'
'Noto Serif'
'Dancing Script'

COLORS:

light tan: #eeebda

*/
body{
    font-family: 'Josefin Sans''Noto Serif', serif;
    line-height: 1.8;
    margin: 0;
    background-color: #eeebda;
    /*display: flex;*/
}
h1, h2, h3{
    font-family: "Josefin Sans", sans-serif;
    margin-top: 0;
}
img{
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}
.wrapper{
    width: 1000px;
    margin:0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content:center;

}
header {
  width:1000px;
}
#site-header{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 120px 0;
  font-size: 4em;
  background: url("img/header-img.jpg");
  background-size: cover;
  background-position: right bottom;
}
#site-header h1,
#site-header h3{
    margin: 0;
    line-height: 1;
    position: relative;
}
#site-header div h1{
    top: 20px;
}
#site-header h3{
    color: white;
    bottom: 20px;
    text-shadow: 0 5px 8px rgba( 0, 0, 0, 0.3 );
        font-family: 'Dancing Script';
}
#main-navigation {
    background: #444;
    display: flex;
    flex-wrap:wrap;
}
#main-navigation a{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
}
#main-navigation #logo{
    margin-right: 400px;
      flex:3;

}

main{
    padding: 20px;
    /*margin:20px;*/
    background-color: #444;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    width:700px;
    position: relative;
    bottom: 50px;
    flex-flow:wrap;
    /*flex-basis: 60%;*/
    /*
        TODO:
        - Use relative positioning to bump this upward
    */
}
aside{
    padding: 20px;
    background-color: #eee;
    box-shadow: 5px 5px 8px rgba( 0, 0, 0, 0.3 );
    position: relative;
    bottom: 50px;
    /*flex-basis: 20%;*/
    /*
        TODO:
        - Flexbox: Set the starting width of this element
        - Use relative positioning to bump this upward
    */
}
aside h3{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}
aside img{
    border-radius: 50%;
    margin-bottom: 30px;
    border: 2px solid white;
}
article{
    background-color: white;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    padding: 20px;
    margin-bottom: 20px;
}
article h2{
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    width: 650px;
}
article time{
    font-size: 0.8em;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    color: #666;
}
article img {

}
#site-footer{
    background: #333;
    text-align: center;
    color:white;
    padding-top:15px;
    padding-bottom:15px;
  }
.dino {
  display:flex;
}
aside {
  flex:2;
  justify-content: center;
}
main {
  flex:3;
}

.beer-logo {
  display:flex;
}
.wrapper p {
  font-size: 20px;
}
.wrapper footer {
  text-transform:uppercase;
  text-align: center;
  border-top:1px solid #ccc;
  margin-top:30px;
  font-family: 'Noto Serif';
}
.wrapper footer p {
  font-size:12px;
  color: grey;
}
.main-content {
  flex-basis:60%;
}
